/* Animation for button */
@keyframes pressed {
  0% { transform: scale(1); }
  50% { transform: scale(0.95); }
  100% { transform: scale(1); }
}

body {
  padding: 40px;
}

button {
  border: none;
  background-color: blue;
  color: white;
  padding: 2em;
  border-radius: 15px;
  width: 150px;
}

button:focus {
  background-color: darkblue;
  animation-name: pressed;
  animation-duration: 0.2s;
  outline: none;
}

button:active {
  transform: scale(0.85);
  transition: transform 0.3s ease-in-out;
}